
<div class="container-fluid">
  <nav class="navbar navbar-inverse" role="navigation">
   <div class="container">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <p></p>
        <p style="font-size: 40px;"> MUSIC MANIA </p>
        <ul class="nav navbar-nav navbar-right">
          <li ><a href="index.html">Home</a></li>
          <li ><a href="index.html#/about">About</a></li>
          <li ><a href="index.html#/contact">Contact</a></li>
          </ul>

         
      </div>
   </div> 
  </nav>
</div>